@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Exo:ital,wght@0,100;0,500;1,500&display=swap');

#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#pname {
  align-items: center;
  padding: auto;
  margin: 0 auto;
  border: solid 5px;
  border-color: rgba(231, 240, 233, 0.5);
  color: rgb(231, 240, 233);
  display: flex;
}

h2 {
  text-align: center;
  animation-name: heading;
  animation-duration: 2s;
  animation: heading 5s infinite;
  font-family: 'Abril Fatface', cursive;
}

@keyframes heading {
  from {
    color: grey;
  }
  to {
    color: rgb(47, 219, 47);
  }
}

.card {
  opacity: 0.5;
  animation-name: example;
  animation-duration: 10s;
  align-items: center;
  border-radius: 20%;
}

@keyframes example {
  0% {
    opacity: -1.9;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}
